<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" 
         connectionString="data source=localhost;initial catalog=TwitterDb;Integrated Security=SSPI;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>